<div class="container-fluid">
  <div class="float-left left navbar">
    <img
      src="https://i.imgur.com/dYo5Z7w.png"
      class="img-fluid logo"
      alt="Revature Logo"
    />
    <h1 class="title">Staging Module</h1>
    <p class="app-description">
      This module allows Staging Managers to view their assigned batches and
      receive notifications when new batches are assigned to them. Staging
      Managers can also create and modify their Associates' SWOT Analysis
      through this portal.
    </p>
  </div>
  <div class="float-left right">
    <form class="login-form" [formGroup]="loginForm">
      <img
        src="https://i.imgur.com/dYo5Z7w.png"
        class="img-fluid logo"
        alt="Revature Logo"
      />
      <h2>Talent is Created Equal But Opportunity Is Not</h2>
      <div class="login-form__group">
        <label for="email" class="form-label">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />

        <div class="form__error" *ngIf="isEmailError">
          Login Failed: Please check your email and try again.
        </div>
      </div>

      <div class="login-form__group">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />

        <div class="form__error" *ngIf="isPasswordError">
          Login Failed: Please check your password and try again.
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary login-btn"
        (click)="loginUser()"
      >
        Log In
      </button>
    </form>
  </div>
</div>
